$main-color: #4C515A;
$link-color: #1D72BB;
$link-lighter-color: #64B7FF;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $main-color;
  font-size: 16px;
  line-height: 1.6;
}

p {
  margin-bottom: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 40px;
  margin-bottom: 14px;
}

.h3, h3 {
  margin-bottom: 10px;
}

.h4, h4 {
  margin-top: 25px;
}

a {
  color: $link-color;
}

.container {
  max-width: 940px;
}

.taco-table {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.main-footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 30px;
  text-align: center;
}

.taco-bar {
  margin-bottom: 10px;
}

.main-header {
  background: $main-color;
  color: #fff;
  padding: 50px 0 15px;

  h1 {
    margin-top: 0px;
  }

  a {
    color: $link-lighter-color
  }
}

.quick-links {
  background: #eee;

  ul {
    margin-bottom: 0;
    margin-left: -15px;
  }

  li {
    padding: 0;
  }

  a {
    display: inline-block;
    padding: 10px 15px;

    &:hover {
      background: #f6f6f6;
      text-decoration: none;
    }
  }
}

code {
  color: #8D7F6E;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 0;
}

pre code.hljs {
  background: transparent;
}

pre {
  color: #8D7F6E;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 0;
  border: 0;
  border-left: 3px solid rgba(0, 0, 0, 0.05);
  margin: 8px 0 16px;
  line-height: 1.65;
}


.data {
  max-height: 300px;
  overflow: auto;
}

