.example-class-name {
  .mutation {
    background: #d0ecd0;
  }

  .wild-type {
    background: #d0dbec;
  }

  .undefined-gene {
    color: #ccc;
  }

  .cell-line-name {
    font-weight: bold;
  }

  .receptor-th {
    color: #8ea565;
  }

  .receptor-td {
    color: #bdb14b;
  }

  .value-col {
    font-style: italic;
    opacity: 0.5;
  }
}